:root {
    /* Background grays */
    --capitello: gray;

    /* Foreground grays */
    --foreground-capitello: white;

    --gray: rgba(170, 170, 170, 0.247);
    --dark-gray: rgba(97, 97, 97, 0.247);
    --light-rose: rgb(255, 227, 224);
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--light-rose);
    font-family: var(--font-family);
    overflow-x: hidden;
}

div.intro, div.outro {
    background-color: var(--dark-gray);
    border-style: ridge;
    border-color: gray;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2vw;
    border-width: 5px;
    width: 96vw;
}
div.intro h1, div.outro h1 {
    color: gray;
    font-size: 3.2vw;
    text-align: center;
}
div.outro {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
div.outro img {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px 20vw;
    margin-bottom: 10px;
}

div.rectangles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
div.rectangles.capitello-page {
    margin-bottom: 1vw;
}

div.rectangle {
    border-color: var(--gray);
    border-style: ridge;
    border-radius: 2vw;
    border-width: 10px;
    margin-top: 2vh;
}
div.rectangle p, div.rectangle a {
    color: black;
    text-align: center;
}
div.rectangle a:hover {
    color: burlywood;
    text-decoration: none;
}
div.rectangle.capitello {
    background-color: var(--capitello);
    color: var(--foreground-capitello);
    align-items: center;
}
div.rectangle.capitello img {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
div.rectangle.capitello img:hover {
    transform: scale(1.05);
}

/* CSS per computer */
@media screen and (min-width: 800px) {
    div.intro, div.outro {
        border-width: 15px;
    }
    div.rectangles {
        flex-direction: row;
    }
    div.rectangles.capitello-page {
        flex-wrap: nowrap;
    }
    div.intro.vertical {
        min-height: 100%;
        display: flex;
        width: 0;
    }
    div.rectangle {
        width: 30vw;
        height: 8vw;
    }
    div.rectangle:hover {
        transform: scale(1.1);
    }
    div.rectangle p {
        font-size: 2.5vw;
    }
    div.rectangle.capitello {
        height: 31vw;
    }
}

/* CSS per cellulare */
@media screen and (max-width: 800px) {
    div.intro, div.outro {
        border-width: 10px;
        width: 92vw;
    }
    div.intro.vertical {
        display: none;
    }
    div.rectangles {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
    }
    div.rectangle {
        border-width: 10px;
        width: 92vw;
    }
    div.rectangle p {
        font-size: 6vw;
    }
    div.rectangle.capitello {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 90vw;
    }
}